<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">IFPE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <!-- Passageiro Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Passageiro
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/passageiros/cadastrar">Cadastrar</a></li>
              <li><a class="dropdown-item" href="/passageiros">Listagem</a></li>
            </ul>
          </li>
          <!-- Voo Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Voo
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/voos/cadastrar">Cadastrar</a></li>
              <li><a class="dropdown-item" href="/voos">Listagem</a></li>
            </ul>
          </li>
          <!-- Usuário Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Usuário
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/usuarios/cadastrar">Cadastrar</a></li>
              <li><a class="dropdown-item" href="/usuarios">Listagem</a></li>
            </ul>
          </li>
        </ul>
        <a href="/usuarios/logout" class="navbar-text">
          Sair
        </a>
      </div>
    </div>
</nav>
