<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <%- include("partials/cabecalho.ejs") %>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- <div class="container">
        <div class="section">
            <h2>Passageiros</h2>
            <a href="/passageiros/cadastrar">Cadastrar Passageiro</a> / 
            <a href="/passageiros">Listagem de Passageiros</a>
        </div>
        <div class="section">
            <h2>Voos</h2>
            <a href="/voos/cadastrar">Cadastrar Voo</a> / 
            <a href="/voos">Listagem de Voos</a>
        </div>
    </div> -->
    <%- include("partials/rodape.ejs") %>
</body>
</html>
